body{
    background-image: url(dhh.png);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

main{
    width: 60%;
   background:rgba(224, 255, 255, 0.459) ;
   border-radius: 20px;
   align-items: center;
}
nav {
    border-bottom: 5px solid rgb(13, 185, 216);
    width: 800px;
    background:rgba(174, 12, 189, 0.377) ;
    border-radius: 20px;
    align-items:flex-start;  
}
.mensaje{
    color: rgb(0, 0, 0) ;
    background-color: rgba(247, 1, 1, 0.678);
    width: 70%;




}

/*.button{
border-radius: 4px;
background-color: #7615d19d;
text-align: center;
font-size: 50px;
padding: 20px;
width: 50%;
transition: all 0.5s;
cursor: pointer;
margin: 5px;
}
/*.visible{
    display: block;
    }
    
.invisible{
      display:none;
    }

/*header{
    width: 80%;
    align-items: center;
}


/*
h2{
    width: 80% 80%;
}/*

.visible{
    display: initial;
    }
    
.invisible{
      display:none;
    }